* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background: black;
    color: white;
}

h1 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 60px;
    letter-spacing: 20px;
    background: -webkit-linear-gradient(#f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span {
    color: #DC2424;
    font-weight: bold;
    font-size: 20px;
}

.content {
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 30px;
    margin-right: 40px;
}

input {
    width: 210px;
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    border: 3px solid goldenrod;
}

button {
    border-radius: 10px;
    color: grey;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    background: white;
    border: none;
    transition: all 0.3s ease;
}

button:hover {
    background: goldenrod;
    color: white;
}

h2 {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    color: goldenrod;
}

p {
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 30px;
    text-align: justify;
}

